.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 342px;
}

.u-section-2 .u-gallery-1 {
  height: 182px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-2 .u-gallery-1 {
    height: 150px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-2 .u-gallery-1 {
    height: 460px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1380px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-2 .u-gallery-1 {
    height: 869px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 810px;
}

.u-section-3 .u-image-1 {
  width: 242px;
  height: 300px;
  margin: 65px auto 0 136px;
}

.u-section-3 .u-image-2 {
  width: 94px;
  height: 300px;
  margin: -300px auto 0;
}

.u-section-3 .u-image-3 {
  width: 242px;
  height: 300px;
  margin: -300px auto 0 762px;
}

.u-section-3 .u-image-4 {
  width: 142px;
  height: 300px;
  margin: 43px auto 0 170px;
}

.u-section-3 .u-image-5 {
  width: 142px;
  height: 300px;
  margin: -300px auto 0 381px;
}

.u-section-3 .u-image-6 {
  width: 142px;
  height: 300px;
  margin: -300px auto 0 609px;
}

.u-section-3 .u-image-7 {
  width: 142px;
  height: 300px;
  margin: -300px auto 60px 821px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: 68px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -296px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -304px;
    margin-left: 630px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 77px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 305px;
  }

  .u-section-3 .u-image-6 {
    margin-right: 282px;
    margin-left: auto;
  }

  .u-section-3 .u-image-7 {
    margin-right: 63px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -300px;
    margin-right: 297px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -300px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    margin-left: 195px;
  }

  .u-section-3 .u-image-6 {
    margin-right: 195px;
  }

  .u-section-3 .u-image-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 54px;
    margin-left: -19px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -314px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: -286px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 48px;
  }

  .u-section-3 .u-image-5 {
    margin-left: 128px;
  }

  .u-section-3 .u-image-6 {
    margin-right: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2426px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 442px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -671px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 737px;
    margin-left: auto;
  }

  .u-section-3 .u-image-5 {
    margin-top: -595px;
    margin-left: auto;
  }

  .u-section-3 .u-image-6 {
    margin-top: 286px;
    margin-right: auto;
  }

  .u-section-3 .u-image-7 {
    margin-top: 0;
    margin-right: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 333px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 121px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 23px auto 60px 0;
  padding: 0;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 92px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 45px;
  }
}